body {
    background:#fdfdfd;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-weight:200;

}
h1 {
    font-family: 'Gloria Hallelujah', cursive;
}


label {
    padding-right:20px;
    font-size:20px;
}
select {
    border:3px solid #333;
    font-size:18px;;
 
}

#start {
    background:#fdfdfd;
    border:3px solid #333;
    color:#333;
    padding:10px 20px;
    font-size:22px;
}
